.content {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;

  h2 {
    margin-bottom: 20px;
  }

  h2 span {
    margin-bottom: 20px;
    display: block;
    font-size: 48px;
  }

  p {
    margin-bottom: 25px;
  }
}
