.root {
  display: flex;
  justify-content: center;

  li:not(:last-child) {
    margin-right: 20px;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fe5f1e;
    width: 40px;
    height: 40px;
    border: 1px solid;
    border-radius: 50%;
    cursor: pointer;
  }

  :global {
    .selected {
      a {
        background-color: #fe5f1e;
        color: #ffffff;
        border-color: #fe5f1e;
      }
    }
    .disabled {
      a {
        color: #f3f3f3;
        cursor: initial;
      }
    }
  }
}
